.btn {
  grid-column: 1/-1;
  align-self: center;
  margin-top: var(--default-padding);
  border: 1px solid #696a754d;
  font-size: var(--body-small-font-size);
  font-weight: var(--body-medium-font-weight);
  padding: 1.2rem 2.2rem;
  border-radius: var(--small-border-raduis);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
}

.btn:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.show {
  color: var(--color-btn-text);
}

.hide {
  color: var(--color-dark);
  border-color: #141624;
}
